{% extends 'p_base.html' %}
{% block title %}
<title>Account</title>
{% endblock %}

{% block content %}
<div class="patient-content-container">
    <div class="patient-profile-content-container">
        <div class="patient-info">
            <button type="button" class="profile-edit-btn">Edit</button>
            <div class="patient-profile-image">
                <img src="/static/icon/profile.jpg" alt="Profile.." class="patient-profile-actual-img">
            </div>
            <div class="patient-profile-info">
                <p>Name: Jobair Al Sarkar</p>
                <p>Email: something@gmail.com</p>
                <p>Blood Group: 0+ </p>
                <p>Age : 21</p>
            </div>
        </div>
        <div class="something-extra">
            <div class="total-count-info">
                <h4>Physical Condition</h4>
                <h2>Normal</h2>
            </div>
            <div class="total-count-info">
                <h4>Total Appointment</h4>
                <h2>0</h2>
            </div>
        </div>
    </div>
    <div class="patient-profile-content-container">
        <!-- <div class="user-dashboard-right-div"> -->
        <ul class="upcomming-appointment-container">
            <li class="upcomming-appointment-list">
                <!-- <a href="#" class="upcomming-appointment-link">
                    </a> -->
                <div class="date-name">
                    <p>10, July, 2023</p>
                    <p>Dr. Ayesha Rahman</p>
                </div>
                <div class="appointment-time">
                    12:00
                    <p>PM</p>
                </div>
                <div class="manage-btn">
                    <button type="button" class="cancel-appointment">Cancel</button>
                </div>
            </li>
            <li class="upcomming-appointment-list">
                <!-- <a href="#" class="upcomming-appointment-link">
                    </a> -->
                <div class="date-name">
                    <p>10, July, 2023</p>
                    <p>Dr. Ayesha Rahman</p>
                </div>
                <div class="appointment-time">
                    12:00
                    <p>PM</p>
                </div>
                <div class="manage-btn">
                    <button type="button" class="cancel-appointment">Cancel</button>
                </div>
            </li>
            <li class="upcomming-appointment-list">
                <!-- <a href="#" class="upcomming-appointment-link">
                    </a> -->
                <div class="date-name">
                    <p>10, July, 2023</p>
                    <p>Dr. Ayesha Rahman</p>
                </div>
                <div class="appointment-time">
                    12:00
                    <p>PM</p>
                </div>
                <div class="manage-btn">
                    <button type="button" class="cancel-appointment">Cancel</button>
                </div>
            </li>
            <li class="upcomming-appointment-list">
                <!-- <a href="#" class="upcomming-appointment-link">
                    </a> -->
                <div class="date-name">
                    <p>10, July, 2023</p>
                    <p>Dr. Ayesha Rahman</p>
                </div>
                <div class="appointment-time">
                    12:00
                    <p>PM</p>
                </div>
                <div class="manage-btn">
                    <button type="button" class="cancel-appointment">Cancel</button>
                </div>
            </li>
            <li class="upcomming-appointment-list">
                <!-- <a href="#" class="upcomming-appointment-link">
                    </a> -->
                <div class="date-name">
                    <p>10, July, 2023</p>
                    <p>Dr. Ayesha Rahman</p>
                </div>
                <div class="appointment-time">
                    12:00
                    <p>PM</p>
                </div>
                <div class="manage-btn">
                    <button type="button" class="cancel-appointment">Cancel</button>
                </div>
            </li>
        </ul>
        <!-- </div> -->
    </div>
</div>
{% endblock %}