{% extends 'p_base.html' %}
{% block title %}
<title>Account</title>
{% endblock %}

{% block content %}
<div class="patient-content-container">
    <div class="patient-profile-content-container">
        <div class="patient-info">
            <a href="{% url 'update_patient_profile' %}">
                <button type="button" class="profile-edit-btn">Edit</button>
            </a>
            <div class="patient-profile-image">
                <img src="{{ patient.profile_picture.url }}" alt="Profile.." class="patient-profile-actual-img">
                <!-- <img src="/static/icon/profile.jpg" alt="Profile.." class="patient-profile-actual-img"> -->
            </div>
            <div class="patient-profile-info">
                <b>
                    <p>Name: {{ patient.first_name }} {{ patient.last_name }}</p>
                </b>
                <p>Email: {{ patient.email }}</p>
                <!-- <p>ID: {{patient.id}}</p> -->
                <!-- <p>Blood Group: 0+ </p> -->
                <!-- <p>Age : 21</p> -->
                <!-- <p>Name: Jobair Al Sarkar</p>
                <p>Email: something@gmail.com</p>
                <p>Blood Group: 0+ </p>
                <p>Age : 21</p> -->
            </div>
        </div>
        <div class="something-extra">
            <div class="total-count-info">
                <h4>Physical Condition</h4>
                <h2>Normal</h2>
            </div>
            <div class="total-count-info">
                <h4>Total Appointment</h4>
                <h2>{{ total_appointments }}</h2>
            </div>
        </div>
    </div>
    <div class="patient-profile-content-container">
        <!-- <div class="user-dashboard-right-div"> -->
        <ul class="upcomming-appointment-container">
            {% for appointment in appointments %}
            <li class="upcomming-appointment-list">
                <div class="date-name">
                    <p>Date: {{ appointment.date|date:"d, F, Y" }}</p>
                    <p>Doctor: {{ appointment.doctor.fname }} {{ appointment.doctor.lname }}</p>
                    <p>Fees: {{ appointment.doctor.fees }}</p>
                </div>
                <div class="appointment-time">
                    {{ appointment.date|time:"h:i" }}
                    <p>{{ appointment.date|time:"A" }}</p>
                </div>
                <div class="manage-btn">
                    <a href="{% url 'cancel_appointment' appointment.id %}"><button type="button"
                            class="cancel-appointment">Cancel</button></a>
                </div>
            </li>
            {% endfor %}
            <!--             <li class="upcomming-appointment-list">
                <div class="date-name">
                    <p>10, July, 2023</p>
                    <p>Dr. Ayesha Rahman</p>
                </div>
                <div class="appointment-time">
                    12:00
                    <p>PM</p>
                </div>
                <div class="manage-btn">
                    <button type="button" class="cancel-appointment">Cancel</button>
                </div>
            </li>
            <li class="upcomming-appointment-list">
                <div class="date-name">
                    <p>10, July, 2023</p>
                    <p>Dr. Ayesha Rahman</p>
                </div>
                <div class="appointment-time">
                    12:00
                    <p>PM</p>
                </div>
                <div class="manage-btn">
                    <button type="button" class="cancel-appointment">Cancel</button>
                </div>
            </li>
            <li class="upcomming-appointment-list">
                <div class="date-name">
                    <p>10, July, 2023</p>
                    <p>Dr. Ayesha Rahman</p>
                </div>
                <div class="appointment-time">
                    12:00
                    <p>PM</p>
                </div>
                <div class="manage-btn">
                    <button type="button" class="cancel-appointment">Cancel</button>
                </div>
            </li>
            <li class="upcomming-appointment-list">
                <div class="date-name">
                    <p>10, July, 2023</p>
                    <p>Dr. Ayesha Rahman</p>
                </div>
                <div class="appointment-time">
                    12:00
                    <p>PM</p>
                </div>
                <div class="manage-btn">
                    <button type="button" class="cancel-appointment">Cancel</button>
                </div>
            </li>
            <li class="upcomming-appointment-list">
                <div class="date-name">
                    <p>10, July, 2023</p>
                    <p>Dr. Ayesha Rahman</p>
                </div>
                <div class="appointment-time">
                    12:00
                    <p>PM</p>
                </div>
                <div class="manage-btn">
                    <button type="button" class="cancel-appointment">Cancel</button>
                </div>
            </li> -->
        </ul>
        <!-- </div> -->
    </div>
</div>
{% endblock %}