{% extends 'p_base.html' %}
{% block title %}
<title>Inbox</title>
{% endblock %}

{% block content %}
<div class="patient-inbox-container">
    <div class="patient-inbox">
        {% for notification in notifications %}
        <div class="patient-notification">
            <img src="{{ notification.sender.profile_picture.url }}" alt="Sender.." class="notification-from-img">
            <div class="message-info">
                <div class="main-notification">
                    <h3>{{ notification.subject }}</h3>
                    <p>{{notification.message}}</p>
                </div>
                <div class="date-download">
                    <div class="name-date">
                        <small>{{ notification.timestamp }}</small>
                        <p> <b>Dr: {{ notification.sender.fname }} {{ notification.sender.lname }}</b></p>
                    </div>
                    <div class="download-prescription">
                        {% if notification.attachment %}
                        <a href="{{ notification.attachment.url }}">Download</a>
                        {% else %}
                        <br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!--         <div class="patient-notification">
            <img src="/static/icon/profile.jpg" alt="Sender.." class="notification-from-img">
            <div class="main-notification">
                <h3>Your Prescription</h3>
                <p>Here is you Prescription. It contains Blah Blah Blah</p>
            </div>
        </div>
        <div class="patient-notification">
            <img src="/static/icon/profile.jpg" alt="Sender.." class="notification-from-img">
            <div class="main-notification">
                <h3>Your Prescription</h3>
                <p>Here is you Prescription. It contains Blah Blah Blah</p>
            </div>
        </div>
        <div class="patient-notification">
            <img src="/static/icon/profile.jpg" alt="Sender.." class="notification-from-img">
            <div class="main-notification">
                <h3>Your Prescription</h3>
                <p>Here is you Prescription. It contains Blah Blah Blah</p>
            </div>
        </div>
        <div class="patient-notification">
            <img src="/static/icon/profile.jpg" alt="Sender.." class="notification-from-img">
            <div class="main-notification">
                <h3>Your Prescription</h3>
                <p>Here is you Prescription. It contains Blah Blah Blah</p>
            </div>
        </div>
        <div class="patient-notification">
            <img src="/static/icon/profile.jpg" alt="Sender.." class="notification-from-img">
            <div class="main-notification">
                <h3>Your Prescription</h3>
                <p>Here is you Prescription. It contains Blah Blah Blah</p>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}