{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container-things">
        <h1>EHospitale</h1>
        <h3>"Revolutionize healthcare management with our project. Seamlessly integrate patient data,
            appointments, and resources for efficient hospital operations. Elevate patient care standards
            through streamlined processes and enhanced communication among staff."</h3>
        <a href="{% url 'Register' %}"><button class="all-btn sign-up-btn join-us-btn">Join Us</button></a>
    </div>
</div>
<div class="ehospitale-info">
    <div class="why-to">
        <div class="image"><img src="/static/icon/healthcare.png" alt="Loading.."></div>
        <p>Health Beinift</p>
    </div>
    <div class="why-to">
        <div class="image"><img src="/static/icon/shield.png" alt="Loading.."></div>
        <p>Security</p>
    </div>
    <div class="why-to">
        <div class="image"><img src="/static/icon/customer-service.png" alt="Loading.."></div>
        <p>Better Services</p>
    </div>
    <div class="why-to">
        <div class="image"><img src="/static/icon/insignia.png" alt="Loading.."></div>
        <p>Relaibility</p>
    </div>
</div>
{% endblock %}