{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{% static '/css/doctor_style.css' %}">
    <title>Home</title>
    {% block title %} {% endblock %}
</head>

<body>
    <header class="header">
        <nav class="user-top-navigation">
            <div class="user-toggle-menu">
                <button type="menu" class="user-toggle-menu-btn" user-toggle-menu>
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
                <img src="ehospitale.png" alt="EHospitale" class="ehospital-logo">
            </div>
<!--             <div class="user-search-bar">
                <input type="search" placeholder="search" class="actual-search-bar">
                <span class="material-symbols-outlined user-search-icon">
                    search
                </span>
            </div> -->
            <!-- <div class="user-profile"> -->
            <div class="user-toggle-navigation">
                <button class="user-toggle-navigation-btn user-toggle-btn-display">
                    <!-- <img src="/static/icon/profile.jpg" alt="Profile" class="profile-toggle-img"> -->
                    <img src="{{ doctor.profile_picture.url }}" alt="Profile" class="profile-toggle-img">
                    <!-- <div class="user-name"> -->
                    <p>@JAS</p>
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                    <!-- </div> -->
                </button>
                <div class="user-navigation-list-part user-list-block-display" data-visible="false">
                    <ul class="user-toggle-navigation-list">
                        <li class="user-toggle-navigation-list-item">
                            <a href="{% url 'doctors_profile' %}" class="user-toggle-navigation-link">
                                <span class="material-symbols-outlined user-sidebar-icon">
                                    person
                                </span>
                                Profile
                            </a>
                        </li>
                        <li class="user-toggle-navigation-list-item">
                            <a href="{% url 'doctors_inbox' %}" class="user-toggle-navigation-link">
                                <span class="material-symbols-outlined user-sidebar-icon">
                                    mail
                                </span>
                                Inbox
                            </a>
                        </li>
                        <li class="user-toggle-navigation-list-item">
                            <a href="#" class="user-toggle-navigation-link">
                                <span class="material-symbols-outlined">
                                    report
                                </span>
                                Report
                            </a>
                        </li>
                    </ul>
                    <a href="{% url 'doctor_logout' %}"><button type="submit" class="user-logout">Log Out</button></a>
                </div>
            </div>
            <!-- </div> -->
        </nav>
    </header>
    <div class="user-container">
        <aside class="user-sidebar open" data-sidebar>
            <div class="user-top-sidebar">
                <a href="#" class="user-profile-photo-link">
                    <img src="{{ doctor.profile_picture.url }}" alt="Profile" class="user-sidebar-profile-img">
                    <!-- <img src="/static/icon/profile.jpg" alt="Profile" class="user-sidebar-profile-img"> -->
                </a>
                <!-- <div class="user-name">Jobair Al Sarkar</div> -->
                <div class="user-name">{{doctor.fname}} {{doctor.lname}}</div>
            </div>
            <div class="user-middle-sidebar">
                <ul class="user-middle-sidebar-list">
                    <li class="user-middle-sidebar-list-item">
                        <a href="{% url 'doctors_dashboard' %}" class="user-middle-sidebar-list-item-link">
                            <span class="material-symbols-outlined user-sidebar-icon">
                                dashboard
                            </span>
                            <div class="user-middle-sidebar-list-item-name">Dashboard</div>
                        </a>
                    </li>
                    <li class="user-middle-sidebar-list-item">
                        <a href="{% url 'doctors_profile' %}" class="user-middle-sidebar-list-item-link">
                            <span class="material-symbols-outlined user-sidebar-icon">
                                person
                            </span>
                            <div class="user-middle-sidebar-list-item-name">Profile</div>
                        </a>
                    </li>
                    <li class="user-middle-sidebar-list-item">
                        <a href="{% url 'doctors_inbox' %}" class="user-middle-sidebar-list-item-link">
                            <span class="material-symbols-outlined user-sidebar-icon">
                                mail
                            </span>
                            <div class="user-middle-sidebar-list-item-name">Inbox</div>
                        </a>
                    </li>
                    <li class="user-middle-sidebar-list-item">
                        <a href="{% url 'doctors_settings' %}" class="user-middle-sidebar-list-item-link">
                            <span class="material-symbols-outlined user-sidebar-icon">
                                settings
                            </span>
                            <div class="user-middle-sidebar-list-item-name"> Settings</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-bottom-sidebar">
                <ul class="user-middle-sidebar-list">
                    <li class="user-middle-sidebar-list-item">
                        <a href="#" class="user-middle-sidebar-list-item-link">
                            <span class="material-symbols-outlined user-sidebar-icon">
                                help
                            </span>
                            <div class="user-middle-sidebar-list-item-name">Help</div>
                        </a>
                    </li>
                    <li class="user-bottom-sidebar-item"><a href="#" class="user-bottom-sidebar-item"></a></li>
                    <li class="user-bottom-sidebar-item"><a href="#" class="user-bottom-sidebar-item"></a></li>
                </ul>
                <a href="{% url 'doctor_logout' %}"><button type="button" class="user-logout user-bottom-logout">Log
                        Out</button></a>
            </div>
        </aside>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <script src="{% static '/js/user-script.js' %}"></script>
</body>

</html>