{% extends 'base/baseadmin.html' %}


{%block main-content%}
<div class="container-fluid">
    <div class="search my-2">
        <form method="post" action="{% url 'search_appointment' %}" class="d-flex align-items-center">
            {% csrf_token %}
            <input type="text" name="value" id="" placeholder="Search">
            <button type="submit" class="btn btn-sm btn-success mx-1"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Count</th>
                <th>Patient's Name</th>
                <th>Doctor's Name</th>
                <th>Date</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {%for appointment in appointments%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{appointment.patient.first_name | title}} {{appointment.patient.last_name}}</td>
                <td>{{appointment.doctor.fname | title}} {{appointment.doctor.lname}}</td>
                <td>{{appointment.date}}</td>
                <td>
                    <a href="{% url 'delete_appointment' appointment.id %}" class="btn btn-danger btn-sm mx-2"> <i class="fa fa-trash"></i> </a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock main-content%}