@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300;500&display=swap");

:root {
  --header-height: 60px;
  --header-color: #06fe65;
  --header-height: 60px;
  --color-white: #ffffff;
  --bg-color: #fff6f0;
  --text-color: #000000;
  --color-primary: #06fe65;
  --color-secondary: #ffdcc7;
  --color-accent: #0068ff;
  --footer-color: #01131e;
  --footer-text-color: #dcf2fe;
  --background-color: #f3f6ff;
}

.patient-auth-container {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
