* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 70px;
    color: red;
}